.menu {
  display: inline;
  font-size: 1.5em;
  margin: 0 5px;
  padding: 0 10px;
  color: aliceblue;
  cursor: pointer;
  margin-bottom: 5px;
}

.ulMenu {
  padding: 0;
}

li:hover {
  background-color: darkgray;
  border-radius: 0.5em;
}

a:hover {
  text-decoration: none;
}
