.menu {
  display: inline;
  border: 1px solid darkgray;
  font-size: 2em;
  margin: 0 5px;
  background-color: #484848;
  padding: 0 10px;
  color: aliceblue;
  cursor: pointer;
  margin-bottom: 5px;
}

.ulMenu {
  padding: 0;
}

a:hover {
  text-decoration: none;
}
