.pubImages {
  width: auto;
  height: 45px;
  margin: 5px;
}

.jumbotron {
  background-color: lightgray;
}

.mapouter {
  position: relative;
  text-align: right;
  margin: auto;
  height: 300px;
  width: 400px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 400px;
}
