.jumbotron {
  background-color: lightgray;
  padding: 32px;
}

.h1Jumbotron {
  display: inline;
}

.container {
  display: flex;
}

footer {
  background-color: #555;
  height: 50px;
  padding-top: 5px;
  margin-top: 10px;
  width: 100%;
}

footer > div {
  text-align: center;
}

footer > div > a {
  color: white;
  font-size: 30px;
}

footer > div > a:hover {
  color: black;
  text-decoration: none;
}

nav > a:hover {
  background-color: darkgray;
  border-radius: 0.5em;
}

li > a:hover {
  background-color: darkgray;
  border-radius: 0.5em;
}

@media screen and (max-width: 575px) {
  .marginResponsive {
    margin: auto;
  }
}
