.jumbotron {
  background-color: lightgray;
  padding: 32px;
  text-align: center;
}

.h1Jumbotron {
  display: inline;
}

.container {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.containerFlexible {
  display: flex;
  flex-wrap: wrap;
}

.elementFlexible {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

footer {
  background-color: #555;
  height: 50px;
  padding-top: 5px;
  margin-top: 10px;
  width: 100%;
}

footer > div {
  text-align: center;
}

footer > div > a {
  color: white;
  font-size: 30px;
}

footer > div > a:hover {
  color: black;
  text-decoration: none;
}

.buttonConnexion {
  background-color: Transparent;
  border: none;
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
  .containerFlexible {
    justify-content: center;
  }
}

@media screen and (min-width: 576px) {
  nav > a:hover {
    background-color: darkgray;
    border-radius: 0.5em;
  }
  .imageTable {
    width: 90%;
    max-height: 400px;
  }
  .nav-item:hover {
    background-color: darkgray;
    border-radius: 0.5em;
  }
  .buttonConnexion:hover {
    background-color: darkgray;
    border-radius: 0.5em;
  }
}

.table {
  display: inline-block;
  height: 480px;
  overflow-y: scroll;
}

@media screen and (max-width: 575px) {
  .marginResponsive {
    margin: 0 auto;
    text-align: center;
  }
  .imageTable {
    height: 200px;
    width: 100%;
  }
  .visibleOrNot {
    display: none;
  }
  .container {
    padding: 0;
  }
  .myTable {
    display: inline-block;
    height: 370px;
    overflow-y: scroll;
  }
  .containerFlexible {
    justify-content: center;
  }
}

.d-xl-block {
  position: absolute;
  bottom: 0;
}
